$color-white: #ffffff;
$color-midlight-gray: #969696;

$btn-text-color: #337ab7;
$background-color: #f6f6f6;
$font-bold: bold;

$color-blue: #199de0;
$color-blue-mid: #0076CB;
$color-blue-dark: #00679e; /*for Links*/
$color-blue-light: #56c0e0;
$dark-blue: #0066bb;

$color-green-light: #58b957;
$color-green: #038719;
$color-mid-green: #038719;

$color-yellow: #ffdb55;
$color-oxide: #bb2404;

$color-gray-dark: #363636;
$color-gray: #767676;
$color-gray-light: #969696;
$color-gray-ivory: #d7d7d7;
$color-gray-lighter: #f7f7f7;
$color-gray-armadillo: #636363;
$color-light-gray: #dddddd;
