$size-0px: 0px;
$border-solid : 1px solid;
$size-5px :5px;
$size-10px :10px;
$font-size-14px :14px;
$size-15px :15px;
$size-20px :20px;
$size-25px :25px;
$size-30px :30px;
$size-40px :40px;
$width-100prcnt :100%;

$body-small : 12px;
$body-med : 14px;
$body-large : 16px;

  // Variables

$headings-font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
$content-font-family: Arial, Helvetica, sans-serif;

$color-body-background: #f5f5f5;
$color-footer-background: #fff;



$container-large-desktop: 1274px;

$navbar-height: 60px;
$navbar-padding-vertical: 20px;
$navbar-padding-horizontal: 0;